* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 7px;
}

ul {
  border: 1;
  border-width: thin;
  border-radius: 10px;
}
.app {
  display: flex;
  justify-content: center;
  text-align: center;
}

.section1 {
  display: flex;
  flex-direction: column;
  background-color: #ffdc40;
  border: 1px solid black;
  border-radius: 20px;
  padding-top: 40px;
  margin-top: 40px;
}

.section__top {
  width: 400px;
  border: 0px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}
.formElement {
  position: relative;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 32px;
  padding: 0 0 40px;
}

.formElement {
  /* position: ; */
  /* border: 1px solid rgba(0,0,0,0.1); */
  margin: 10px;
}

form input {
  margin: 0 auto;
  text-align: left;
  border: 1;
  border-width: thin;
  border-radius: 10px;
  font-size: 18px;
  line-height: 50px;
  height: 50px;
  padding: 0 10px;
  width: 360px;
  margin-bottom: 20px;
}

form button {
  background: transparent;
  border: 0;
  color: #000;
  position: absolute;
  top: 55px;
  right: 44px;
}
.btn {
  padding: 0 10px 0 10px;
  background-color: white;
  background: transparent;
  border: 0;
}

.addButton {
  margin: 20px;
  background: transparent;
  border: 0;
  color: #000;
}

.srt__btn {
  padding: 10px;
}

.roundx:hover {
  background-image: url("../img/b1.png");
}

li input[type="checkbox"] {
  padding: 20px;
  width: 20px;
  height: 20px;
  position: relative;
}

.row {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.dlt_btn {
  padding-right: 36px;
}

.inp_value {
  padding-left: 50px;
}

.add {
  width: 150px;
  height: 42px;
  background-color: #833ae0;
  border-radius: 71px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  cursor: pointer;
}

.plus {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #9953f1;
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.txt__decor {
  text-decoration: line-through;
  color: rebeccapurple;
}
